@import "tailwindcss";
@plugin "daisyui";

/* variables pour fallback / utilité */
:root {
  --bg: #ffffff;
  --text: #111827;
}

/* variables dark */
.dark {
  --bg: #0b1220;
  --text: #e6eef8;
}



/* exemple d'utilitaire si tu veux */
.bg-main {
  background: var(--bg);
  color: var(--text);
}


html {
  scroll-behavior: smooth;
}



.tippy-box[data-theme~='custom'] {
  background-color: #3b82f6;
  /* vert Tailwind : emerald-500 */
  color: white;
  /* texte blanc */
  border-radius: 0.5rem;
  /* arrondi comme tailwind rounded */
}
